```{=html}
<% if (items[0]) { %>
<div class="archive list">

  <% for (const item of items) { %>

  <div class="quarto-post image-right" <%= metadataAttrs(item) %>>

      <% if (item.image) { %>
      <div class="thumbnail" style = "flex-basis: 30%">
        <a href="<%- item.path %>" class="no-external">
              <p><img src="<%- item.image %>" class="thumbnail-image" style = "margin-top: 0rem;"></p>
        </a>
      </div>
      <% } %>
      <div class="body">
          <h4 class="no-anchor listing-title" style = "margin-top: 0.25rem"><a href="<%- item.path %>" class="no-external">
            <%= item.title %></a>
          </h4>
          <div class="listing-subtitle"><a href="<%- item.path %>" class="no-external"><%= item.subtitle %></a></div>

          <div class = "metadata">
            <span>
            
            <% if (item.date) { %>
              <a href="<%- item.path %>" class="no-external"> <%= item.date %>. </a> 
            <% } %>
            <% if (item.author) { %>
              <a href="<%- item.path %>" class="no-external"> <%= item.author %>. </a> 
            <% } %>
            <% if (item.citation) { %>
              <% if (item.citation["container-title"]) { %>
                <a href="<%- item.path %>" class="no-external"> <i> <%= item.citation["container-title"] %>. </i> </a>
              <% } %>
            <% } %>
            <% if (item["external-url"] && item["external-name"]) { %>
            <a href=<%= item["external-url"]%> title = "External Link" target = "_blank"> <button type="button" class="btn btn-outline-primary btn-sm" style = "padding: 0.25em 0.75em; font-size: 0.75em; margin-bottom: 0.2rem;"><i class="bi-box-arrow-up-right"></i> <%= item["external-name"]%></button></a>
            <% } %>
            <% if (item["pdf-url"]) { %>
            <a href=<%= item["pdf-url"]%> title = "PDF" target = "_blank"> <button type="button" class="btn btn-outline-primary btn-sm" style = "padding: 0.25em 0.75em; font-size: 0.75em; margin-bottom: 0.2rem;"><i class="bi-file-pdf"></i> PDF</button></a>
            <% } %>
          </span>
          </div>

      </div>

  </div>
  <% } %>
</div>
<% } else {%>
  <p class="text-center" style = "font-size: 0.85rem;">No Content</p>
<% } %>

```